audb
audiomentations
audplot >=1.4.5
ipykernel
jupyter-sphinx
pandas <2.0.0
pedalboard >=0.4.0
praat-parselmouth
pydub  # required by audiomentations
sox
sphinx
sphinx-audeering-theme>=1.1.0
sphinx-autodoc-typehints
sphinx-copybutton
toml
